@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fill:hover,
.fill:focus {
  -webkit-box-shadow: inset 0 0 0 2em var(--hover);
          box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

.close:hover,
.close:focus {
  -webkit-box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
          box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  -webkit-box-shadow: inset 0 -3.25em 0 0 var(--hover);
          box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  -webkit-box-shadow: inset 6.5em 0 0 0 var(--hover);
          box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
  -webkit-box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
          box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}

.offset:hover,
.offset:focus {
  -webkit-box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
          box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: #2e3951;
  --hover: #252e41;
}

.pulse {
  --color: #ef6eae;
  --hover: #252e41;
}

.close {
  --color: #ff7f82;
  --hover: #252e41;
}

.raise {
  --color: #ffa260;
  --hover: #252e41;
}

.up {
  --color: #e4cb58;
  --hover: #252e41;
}

.slide {
  --color: #8fc866;
  --hover: #252e41;
}

.offset {
  --color: #19bc8b;
  --hover: #252e41;
}

#app button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#app button:hover {
  border-color: var(--hover);
  color: white;
}

.notShow {
  display: none;
}

#app button {
  background-color: unset;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.buttonRow {
  padding-top: 60px;
}

.selecionavel:hover {
  cursor: pointer;
}

html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -ms-font-smoothing: antialiased !important;
}

.md-stepper-horizontal {
  padding-bottom: 50px;
  background-color: transparent !important;
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
}

.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
  background-color: rgba(0, 0, 0, 0.04);
}

.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}

.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.md-stepper-horizontal .md-step:hover .md-step-circle {
  background-color: #757575;
}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}

.md-stepper-horizontal .md-step .md-step-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00AE4D;
}

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: #F96302;
}

.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: #2196f3;
}

.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\F00C";
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}

.md-stepper-horizontal .md-step.editable .md-step-circle {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.md-stepper-horizontal .md-step.editable .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\F040";
}

.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: rgba(0, 0, 0, 0.26);
}

.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}

.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}

.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(0, 0, 0, 0.54);
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #DDDDDD;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}

body {
  background-image: url(https://subtlepatterns.com/patterns/gplaypattern.png);
  background-position: center center;
}

.imgCard2 {
  max-width: 100%;
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 23.7%;
  min-width: 100%;
}

.cardBox:hover .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card {
  background-image: url(/images/tweed.png);
  cursor: default;
  height: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card .back a {
  position: relative;
  top: 50%;
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background-image: url(/images/tweed.png);
}

.cardBox:nth-child(2) .card .back {
  background-image: url(/images/tweed.png);
}

.cardBox:nth-child(3) .card .back {
  background-image: url(/images/tweed.png);
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

@-webkit-keyframes giro {
  from {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }

  .card {
    height: 285px;
  }

  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }

  .card {
    height: 260px;
  }
}

.buttonShop {
  border: unset !important;
  min-width: 100% !important;
  background-repeat: no-repeat !important;
  min-height: 65% !important;
  max-height: 65% !important;
  background-size: 100% !important;
  background-position: center !important;
  border: unset;
  outline: none;
}

.buttonShop:hover,
.buttonShop:active,
.buttonShop:focus {
  cursor: pointer;
  border: unset;
  -webkit-filter: brightness(35%);
          filter: brightness(35%);
  outline: none;
}

code {
  color: #e4cb58;
  font: inherit;
}

.imgCard {
  width: 100%;
  height: auto;
}

.introducao {
  padding-top: 50px;
  padding-bottom: 50px;
}

.buttonEmpty {
  -webkit-filter: brightness(100%) !important;
          filter: brightness(100%) !important;
}

.buttonPressed {
  -webkit-filter: brightness(35%);
          filter: brightness(35%);
}

/* body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;} */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #777;
}

.center {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bgimg {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.6))), url(/images/business.jpg?dc3c0e7d715574ca85ed449e8ba082c2);
  background: linear-gradient(black, rgba(0, 0, 0, 0.6)), url(/images/business.jpg?dc3c0e7d715574ca85ed449e8ba082c2);
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
  .bgimg {
    background-attachment: scroll;
  }
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

.progress {
  background-color: unset;
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #849397;
}

.progress > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 0.8em;
}

.progress > li:before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #DFE3E4;
  width: 3em;
  height: 3em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 3em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}

.progress > li:after {
  content: '';
  position: absolute;
  display: block;
  background: #DFE3E4;
  width: 100%;
  height: 0.5em;
  top: 1.25em;
  left: 50%;
  margin-left: 1.5em\9;
  z-index: -1;
}

.progress > li:last-child:after {
  display: none;
}

.progress > li.is-complete {
  color: #2ECC71;
}

.progress > li.is-complete:before,
.progress > li.is-complete:after {
  color: #FFF;
  background: #2ECC71;
}

.progress > li.is-active {
  color: #3498DB;
}

.progress > li.is-active:before {
  color: #FFF;
  background: #3498DB;
}

/**
   * Needed for IE8
   */

.progress__last:after {
  display: none !important;
}

/**
   * Size Extensions
   */

.progress--medium {
  font-size: 1.5em;
}

.progress--large {
  font-size: 2em;
}

/**
 * Some Generic Stylings
 */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  margin-bottom: 1.5em;
}

.progress {
  margin-bottom: 3em;
}

a {
  color: #3498DB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  text-align: center;
  color: #444;
}

