
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:700|Pacifico|Changa+One");
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


$complete: #2ECC71;
$active: #3498DB;
$mute: #DFE3E4;
$bg1: "../images/business.jpg";


.buttonEmpty{
  filter: brightness(100%);
  
}
.buttonPressed{
  filter: brightness(60%);
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  margin:0;
  padding:0;
  width: 100%;
    height: 100%;
    color: #777;
    line-height: 1.8;
}
.center {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
.bgimg{
  background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url($bg1);
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg{
      background-attachment: scroll;
  }
}
.w3-wide {
  letter-spacing: 10px;
}
.w3-hover-opacity {
  cursor: pointer;
}
.progress {
  background-color: unset;
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: darken($mute, 33%);

  > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.8em;
    &:before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      background: $mute;
      width: 3em;
      height: 3em;
      text-align: center; //IE8 doesn't inherit this style
      margin-bottom: 0.25em;
      line-height: 3em;
      border-radius: 100%;
      position: relative;
      z-index: 1000;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      background: $mute;
      width: 100%;
      height: 0.5em;
      top: 1.25em;
      left: 50%;
      margin-left: 1.5em\9;
      z-index: -1;
    }
    &:last-child:after {
      display: none;
    }
    &.is-complete {
      color: $complete;
      
      &:before,
      &:after {
        color: #FFF;
        background: $complete;
      }
    }
    &.is-active {
      color: $active;
      
      &:before {
        color: #FFF;
        background: $active;
      }
    }
  }
}
  /**
   * Needed for IE8
   */
  .progress__last:after {
    display: none!important;
  }

  /**
   * Size Extensions
   */
  .progress--medium {
    font-size: 1.5em;
  }
  .progress--large {
    font-size: 2em;
  }

/**
 * Some Generic Stylings
 */
*, *:after, *:before {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 1.5em;
}
.progress {
  margin-bottom: 3em;
}
a {
  color: $active;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
body {
  text-align: center;
  color: #444;
}